<div id="result">
  <div style="border-bottom:solid thin #eeeeee;padding-bottom:5px;margin-bottom:10px;">
    <table width="100%">
      <tbody>
        <tr>
          <td width="50%">
            {{record_count}} {result.number} ({{exec_time}}{result.second})
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert">
    {result.did_not_match}
  </div>
</div>
