# common
/target
/build
/bin
.DS_Store

# IntelliJ IDEA
**/.idea/*
!**/.idea/inspectionProfiles
!**/.idea/codeStyleSettings.xml
!**/.idea/misc.xml
!**/.idea/saveactions_settings.xml
**/*.iml
/out

# Gradle
/.gradle

# Tomcat
/tomcat.*

# DBFlute
/dbflute-intro.*
/mydbflute/intro_resources

# LastaFlute
trial_config.ignored

# Fess
.project
.classpath
/dbflute_fess/log/*.log
/dbflute_fess/output/doc/lastadoc-fess.html
/dbflute_fess/schema/project-lastadoc-fess.json
/mydbflute/
/plugins/
/src/main/resources/fess_indices/.fess_config.access_token/access_token.bulk
/src/main/resources/ga_client_secrets.p12
/src/main/webapp/WEB-INF/project.properties
/src/main/webapp/WEB-INF/conf/*.properties
/src/main/webapp/WEB-INF/env/*/lib/
/src/main/webapp/WEB-INF/lib/
/src/main/webapp/WEB-INF/site/
/src/main/webapp/WEB-INF/thumbnails/

