dist: xenial

sudo: required

language: java

jdk:
  - openjdk8
  - openjdk11

cache:
  directories:
    - $HOME/.m2/repository

install:
  - mvn antrun:run
  - mvn package

before_script:
  - java -version
  - bash .travis/before_script.sh

script:
  - mvn test -P integrationTests -Dtest.fess.url="http://127.0.0.1:8080" -Dtest.es.url="http://127.0.0.1:9201"

