<?xml version="1.0" encoding="UTF-8"?>
<project name="plugin" basedir=".">
	<property name="plugins.dir" value="${basedir}/plugins" />
	<property name="target.dir" value="${basedir}/target/plugins" />
	<property name="site.dir" value="${basedir}/src/main/webapp/WEB-INF/site" />
	<property name="kopf.branch" value="fess-5.0" />

	<!-- Maven Repository -->
	<property name="maven.snapshot.repo.url" value="https://oss.sonatype.org/content/repositories/snapshots" />
	<property name="maven.release.repo.url" value="http://central.maven.org/maven2" />

	<target name="install.plugins">
		<mkdir dir="${target.dir}" />
		<delete dir="${plugins.dir}" />
		<mkdir dir="${plugins.dir}" />
		<!-- analysis-fess -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.release.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name.prefix" value="elasticsearch-" />
			<param name="plugin.name" value="analysis-fess" />
			<param name="plugin.version" value="5.5.0" />
			<param name="plugin.zip.version" value="5.5.0" />
		</antcall>
		<!-- analysis-ja -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.release.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name.prefix" value="elasticsearch-" />
			<param name="plugin.name" value="analysis-ja" />
			<param name="plugin.version" value="5.5.0" />
			<param name="plugin.zip.version" value="5.5.0" />
		</antcall>
		<!-- analysis-synonym -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.release.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name.prefix" value="elasticsearch-" />
			<param name="plugin.name" value="analysis-synonym" />
			<param name="plugin.version" value="5.5.0" />
			<param name="plugin.zip.version" value="5.5.0" />
		</antcall>
		<!-- configsync -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.release.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name.prefix" value="elasticsearch-" />
			<param name="plugin.name" value="configsync" />
			<param name="plugin.version" value="5.5.0" />
			<param name="plugin.zip.version" value="5.5.0" />
		</antcall>
		<!-- dataformat -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.release.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name.prefix" value="elasticsearch-" />
			<param name="plugin.name" value="dataformat" />
			<param name="plugin.version" value="5.5.0" />
			<param name="plugin.zip.version" value="5.5.0" />
		</antcall>
		<!-- langfield -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.release.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name.prefix" value="elasticsearch-" />
			<param name="plugin.name" value="langfield" />
			<param name="plugin.version" value="5.5.0" />
			<param name="plugin.zip.version" value="5.5.0" />
		</antcall>
		<!-- minhash -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.release.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name.prefix" value="elasticsearch-" />
			<param name="plugin.name" value="minhash" />
			<param name="plugin.version" value="5.5.0" />
			<param name="plugin.zip.version" value="5.5.0" />
		</antcall>
		<!-- kopf -->
		<get dest="${target.dir}/kopf.zip">
			<url url="https://github.com/codelibs/elasticsearch-kopf/archive/${kopf.branch}.zip" />
		</get>
		<delete dir="${site.dir}/kopf" />
		<unzip dest="${site.dir}/kopf" src="${target.dir}/kopf.zip">
			<patternset>
				<include name="elasticsearch-kopf-${kopf.branch}/_site/**" />
			</patternset>
			<cutdirsmapper dirs="2" />
		</unzip>

		<antcall target="remove.jars" />
	</target>

	<target name="install.plugin">
		<get dest="${target.dir}">
			<url url="${repo.url}/${plugin.groupId}/${plugin.name.prefix}${plugin.name}/${plugin.version}/${plugin.name.prefix}${plugin.name}-${plugin.zip.version}.zip" />
		</get>
		<unzip dest="${plugins.dir}/${plugin.name}" src="${target.dir}/${plugin.name.prefix}${plugin.name}-${plugin.zip.version}.zip">
			<patternset>
				<include name="elasticsearch/**" />
			</patternset>
			<cutdirsmapper dirs="1" />
		</unzip>
	</target>

	<target name="remove.jars" if="with.fess">
		<delete>
			<fileset dir="${plugins.dir}">
				<include name="configsync/commons-codec-*" />
				<include name="dataformat/commons-codec-*" />
				<include name="dataformat/commons-collections4-*" />
				<include name="dataformat/curvesapi-*" />
				<include name="dataformat/orangesignal-csv-*" />
				<include name="dataformat/poi-*" />
				<include name="dataformat/stax-api-*" />
				<include name="dataformat/xmlbeans-*" />
				<include name="langfield/jackson-*" />
				<include name="minhash/guava-*" />
			</fileset>
		</delete>
	</target>
<!--
# Korean
# Too old...
PLUGIN_VERSION=5.1.1.1
rm -rf plugins/analysis-seunjeon
wget -O target/analysis-seunjeon.zip http://central.maven.org/maven2/org/bitbucket/eunjeon/elasticsearch-analysis-seunjeon/${PLUGIN_VERSION}/elasticsearch-analysis-seunjeon-${PLUGIN_VERSION}.zip
unzip -d plugins/analysis-seunjeon target/analysis-seunjeon.zip
mv plugins/analysis-seunjeon/elasticsearch/* plugins/analysis-seunjeon/

# Japanese
# https://github.com/codelibs/elasticsearch-analysis-kuromoji-neologd
PLUGIN_VERSION=5.5.0
rm -rf plugins/analysis-kuromoji-neologd
wget -O target/analysis-kuromoji-neologd.zip http://central.maven.org/maven2/org/codelibs/elasticsearch-analysis-kuromoji-neologd/${PLUGIN_VERSION}/elasticsearch-analysis-kuromoji-neologd-${PLUGIN_VERSION}.zip
unzip -d plugins/analysis-kuromoji-neologd target/analysis-kuromoji-neologd.zip
mv plugins/analysis-kuromoji-neologd/elasticsearch/* plugins/analysis-kuromoji-neologd/

# Vietnamese
# https://github.com/duydo/elasticsearch-analysis-vietnamese
PLUGIN_VERSION=5.5.0
rm -rf plugins/analysis-vietnamese
wget -O target/analysis-vietnamese.zip https://github.com/duydo/elasticsearch-analysis-vietnamese/releases/download/v${PLUGIN_VERSION}/elasticsearch-analysis-vietnamese-${PLUGIN_VERSION}.zip
unzip -d plugins/analysis-vietnamese target/analysis-vietnamese.zip
mv plugins/analysis-vietnamese/elasticsearch/* plugins/analysis-vietnamese/
rm plugins/analysis-vietnamese/opennlp-tools-*.jar
rm plugins/analysis-vietnamese/commons-io-*.jar
rm plugins/analysis-vietnamese/opennlp-maxent-*.jar
rm plugins/analysis-vietnamese/jwnl-*.jar

# Simplified Chinese
PLUGIN_VERSION=5.5.0
rm -rf plugins/analysis-smartcn
wget -O target/analysis-smartcn.zip https://artifacts.elastic.co/downloads/elasticsearch-plugins/analysis-smartcn/analysis-smartcn-${PLUGIN_VERSION}.zip
unzip -d plugins/analysis-smartcn target/analysis-smartcn.zip
mv plugins/analysis-smartcn/elasticsearch/* plugins/analysis-smartcn/

# Traditional Chinese
# https://github.com/medcl/elasticsearch-analysis-stconvert
PLUGIN_VERSION=5.5.0
rm -rf plugins/analysis-stconvert
wget -O target/analysis-stconvert.zip https://github.com/medcl/elasticsearch-analysis-stconvert/releases/download/v${PLUGIN_VERSION}/elasticsearch-analysis-stconvert-${PLUGIN_VERSION}.zip
unzip -d plugins/analysis-stconvert target/analysis-stconvert.zip
mv plugins/analysis-stconvert/elasticsearch/* plugins/analysis-stconvert/
-->
</project>
