<?xml version="1.0" encoding="UTF-8"?>
<project name="plugin" basedir=".">
	<!-- Maven Repository -->
	<property name="maven.snapshot.repo.url" value="https://oss.sonatype.org/content/repositories/snapshots" />
	<property name="maven.release.repo.url" value="http://central.maven.org/maven2" />

	<target name="install.plugins">
		<mkdir dir="${basedir}/target/plugins" />
		<delete dir="${basedir}/plugins" />
		<mkdir dir="${basedir}/plugins" />
		<!-- analysis-kuromoji-neologd -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.snapshot.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name" value="analysis-kuromoji-neologd" />
			<param name="plugin.version" value="2.1.0-SNAPSHOT" />
			<param name="plugin.zip.version" value="2.1.0-20151202.081803-4" />
		</antcall>
		<!-- analysis-synonym -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.snapshot.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name" value="analysis-synonym" />
			<param name="plugin.version" value="2.1.0-SNAPSHOT" />
			<param name="plugin.zip.version" value="2.1.0-20151202.052345-4" />
		</antcall>
		<!-- configsync -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.snapshot.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name" value="configsync" />
			<param name="plugin.version" value="2.1.0-SNAPSHOT" />
			<param name="plugin.zip.version" value="2.1.0-20151127.054727-1" />
		</antcall>
		<!-- dataformat -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.snapshot.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name" value="dataformat" />
			<param name="plugin.version" value="2.1.0-SNAPSHOT" />
			<param name="plugin.zip.version" value="2.1.0-20151201.002307-2" />
		</antcall>
		<!-- langfield -->
		<antcall target="install.plugin">
			<param name="repo.url" value="${maven.snapshot.repo.url}" />
			<param name="plugin.groupId" value="org/codelibs" />
			<param name="plugin.name" value="langfield" />
			<param name="plugin.version" value="2.1.0-SNAPSHOT" />
			<param name="plugin.zip.version" value="2.1.0-20151129.210553-1" />
		</antcall>
		<!-- kopf -->
		<get dest="${basedir}/target/plugins">
			<url url="http://maven.codelibs.org/archive/elasticsearch/plugin/kopf/elasticsearch-kopf-2.0.0.0.zip" />
		</get>
		<unzip dest="${basedir}/plugins/kopf" src="${basedir}/target/plugins/elasticsearch-kopf-2.0.0.0.zip" />
	</target>

	<target name="install.plugin">
		<get dest="${basedir}/target/plugins">
			<url url="${repo.url}/${plugin.groupId}/elasticsearch-${plugin.name}/${plugin.version}/elasticsearch-${plugin.name}-${plugin.zip.version}.zip" />
		</get>
		<unzip dest="${basedir}/plugins/${plugin.name}" src="${basedir}/target/plugins/elasticsearch-${plugin.name}-${plugin.zip.version}.zip" />
	</target>
</project>
