<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE components PUBLIC "-//DBFLUTE//DTD LastaDi 1.0//EN"
	"http://dbflute.org/meta/lastadi10.dtd">
<components>
	<include path="convention.xml"/>
	<include path="lastaflute.xml"/>
	<include path="lasta_job.xml"/>

	<include path="fess.xml"/>
	<include path="fess_ldap.xml"/>
	<include path="fess_api.xml"/>
	<include path="fess_dict.xml"/>
	<include path="fess_job.xml"/>
	<include path="fess_thumbnail.xml"/>
	<include path="fess_sso.xml"/>
	<include path="fess_score.xml"/>

	<include path="crawler/client.xml" />
	<include path="crawler/mimetype.xml" />

	<component name="accessTokenHelper" class="org.codelibs.fess.helper.AccessTokenHelper">
	</component>
	<component name="activityHelper" class="org.codelibs.fess.helper.ActivityHelper">
	</component>
	<component name="jobHelper" class="org.codelibs.fess.helper.JobHelper">
	</component>
	<component name="labelTypeHelper" class="org.codelibs.fess.helper.LabelTypeHelper">
	</component>
	<component name="keyMatchHelper" class="org.codelibs.fess.helper.KeyMatchHelper">
	</component>
	<component name="relatedContentHelper" class="org.codelibs.fess.helper.RelatedContentHelper">
	</component>
	<component name="relatedQueryHelper" class="org.codelibs.fess.helper.RelatedQueryHelper">
	</component>
	<component name="queryStringBuilder" class="org.codelibs.fess.util.QueryStringBuilder" instance="prototype">
	</component>
	<component name="queryParser" class="org.apache.lucene.queryparser.ext.ExtendableQueryParser" instance="prototype">
		<arg>org.codelibs.fess.Constants.DEFAULT_FIELD</arg>
		<arg>
			<component class="org.apache.lucene.analysis.core.WhitespaceAnalyzer"></component>
		</arg>
		<property name="allowLeadingWildcard">true</property>
		<property name="defaultOperator">org.apache.lucene.queryparser.classic.QueryParser$Operator.AND</property>
	</component>
	<component name="facetInfo" class="org.codelibs.fess.entity.FacetInfo">
		<property name="sort">"count.desc"</property>
		<property name="size">100</property>
		<property name="minDocCount">1</property>
		<property name="field">["label"]</property>
		<property name="query">[
			"timestamp:[now/d-1d TO *]",
			"timestamp:[now/d-7d TO *]",
			"timestamp:[now/d-1M TO *]",
			"timestamp:[now/d-1y TO *]",
			"content_length:[0 TO 9999]",
			"content_length:[10000 TO 99999]",
			"content_length:[100000 TO 499999]",
			"content_length:[500000 TO 999999]",
			"content_length:[1000000 TO *]",
			"filetype:html",
			"filetype:word",
			"filetype:excel",
			"filetype:powerpoint",
			"filetype:odt",
			"filetype:ods",
			"filetype:odp",
			"filetype:pdf",
			"filetype:fb2",
			"filetype:epub",
			"filetype:ibooks",
			"filetype:txt",
			"filetype:rtf",
			"filetype:chm",
			"filetype:zip",
			"filetype:7z",
			"filetype:bz",
			"filetype:bz2",
			"filetype:tar",
			"filetype:rar",
			"filetype:3gp",
			"filetype:3g2",
			"filetype:avi",
			"filetype:flv",
			"filetype:mpeg",
			"filetype:mp4",
			"filetype:ogv",
			"filetype:qt",
			"filetype:m4v",
			"filetype:aif",
			"filetype:mid",
			"filetype:mpga",
			"filetype:mp4a",
			"filetype:oga",
			"filetype:ogg",
			"filetype:wav",
			"filetype:webp",
			"filetype:bmp",
			"filetype:ico",
			"filetype:png",
			"filetype:svg",
			"filetype:tiff",
			"filetype:others"
			]
		</property>
	</component>
	<component name="queryHelper" class="org.codelibs.fess.helper.QueryHelper">
		<property name="defaultFacetInfo">facetInfo</property>
		<property name="lowercaseWildcard">false</property>
		<postConstruct name="addHighlightField">
			<arg>"title"</arg>
		</postConstruct>
		<postConstruct name="addHighlightField">
			<arg>"content"</arg>
		</postConstruct>
		<postConstruct name="addQueryRescorer">
			<arg>
				<component class="org.codelibs.fess.score.LtrQueryRescorer" />
			</arg>
		</postConstruct>
	</component>
	<component name="viewHelper" class="org.codelibs.fess.helper.ViewHelper">
		<postConstruct name="addFacetQueryView">
			<arg>
				<component class="org.codelibs.fess.entity.FacetQueryView">
					<property name="title">"labels.facet_timestamp_title"</property>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1day"</arg>
						<arg>"timestamp:[now/d-1d TO *]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1week"</arg>
						<arg>"timestamp:[now/d-7d TO *]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1month"</arg>
						<arg>"timestamp:[now/d-1M TO *]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1year"</arg>
						<arg>"timestamp:[now/d-1y TO *]"</arg>
					</postConstruct>
				</component>
			</arg>
		</postConstruct>
		<postConstruct name="addFacetQueryView">
			<arg>
				<component class="org.codelibs.fess.entity.FacetQueryView">
					<property name="title">"labels.facet_contentLength_title"</property>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_10k"</arg>
						<arg>"content_length:[0 TO 9999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_10kto100k"</arg>
						<arg>"content_length:[10000 TO 99999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_100kto500k"</arg>
						<arg>"content_length:[100000 TO 499999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_500kto1m"</arg>
						<arg>"content_length:[500000 TO 999999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_1m"</arg>
						<arg>"content_length:[1000000 TO *]"</arg>
					</postConstruct>
				</component>
			</arg>
		</postConstruct>
		<postConstruct name="addFacetQueryView">
			<arg>
				<component class="org.codelibs.fess.entity.FacetQueryView">
					<property name="title">"labels.facet_filetype_title"</property>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_html"</arg>
						<arg>"filetype:html"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_word"</arg>
						<arg>"filetype:word"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_excel"</arg>
						<arg>"filetype:excel"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_powerpoint"</arg>
						<arg>"filetype:powerpoint"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_odt"</arg>
						<arg>"filetype:odt"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_ods"</arg>
						<arg>"filetype:ods"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_odp"</arg>
						<arg>"filetype:odp"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_pdf"</arg>
						<arg>"filetype:pdf"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_fb2"</arg>
						<arg>"filetype:fb2"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_epub"</arg>
						<arg>"filetype:epub"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_ibooks"</arg>
						<arg>"filetype:ibooks"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_txt"</arg>
						<arg>"filetype:txt"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_rtf"</arg>
						<arg>"filetype:rtf"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_chm"</arg>
						<arg>"filetype:chm"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_zip"</arg>
						<arg>"filetype:zip"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_7z"</arg>
						<arg>"filetype:7z"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_bz"</arg>
						<arg>"filetype:bz"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_bz2"</arg>
						<arg>"filetype:bz2"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_tar"</arg>
						<arg>"filetype:tar"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_rar"</arg>
						<arg>"filetype:rar"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_3gp"</arg>
						<arg>"filetype:3gp"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_3g2"</arg>
						<arg>"filetype:3g2"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_avi"</arg>
						<arg>"filetype:avi"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_flv"</arg>
						<arg>"filetype:flv"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_mpeg"</arg>
						<arg>"filetype:mpeg"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_mp4"</arg>
						<arg>"filetype:mp4"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_ogv"</arg>
						<arg>"filetype:ogv"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_qt"</arg>
						<arg>"filetype:qt"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_m4v"</arg>
						<arg>"filetype:m4v"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_aif"</arg>
						<arg>"filetype:aif"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_mid"</arg>
						<arg>"filetype:mid"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_mpga"</arg>
						<arg>"filetype:mpga"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_ogg"</arg>
						<arg>"filetype:ogg"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_wav"</arg>
						<arg>"filetype:wav"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_webp"</arg>
						<arg>"filetype:webp"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_bmp"</arg>
						<arg>"filetype:bmp"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_ico"</arg>
						<arg>"filetype:ico"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_png"</arg>
						<arg>"filetype:png"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_svg"</arg>
						<arg>"filetype:svg"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_tiff"</arg>
						<arg>"filetype:tiff"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_others"</arg>
						<arg>"filetype:others"</arg>
					</postConstruct>
				</component>
			</arg>
		</postConstruct>
		<postConstruct name="addInlineMimeType">
			<arg>"application/pdf"</arg>
		</postConstruct>
	</component>
	<component name="userAgentHelper" class="org.codelibs.fess.helper.UserAgentHelper">
	</component>
	<component name="popularWordHelper" class="org.codelibs.fess.helper.PopularWordHelper">
	</component>
	<component name="userInfoHelper" class="org.codelibs.fess.helper.UserInfoHelper">
	</component>
	<component name="authenticationManager" class="org.codelibs.fess.auth.AuthenticationManager">
		<!--
		<postConstruct name="addChain">
			<arg>
				<component class="org.codelibs.fess.auth.chain.CommandChain">
					<property name="updateCommand">[
					"/usr/sbin/htpasswd",
					"-b",
					"/tmp/test.txt",
					"$USERNAME",
					"$PASSWORD"
					]</property>
					<property name="deleteCommand">[
					"/usr/sbin/htpasswd",
					"-D",
					"/tmp/test.txt",
					"$USERNAME"
					]</property>
					<property name="targetUsers">[
					"admin"
					]</property>
				</component>
			</arg>
		</postConstruct>
		 -->
		<postConstruct name="addChain">
			<arg>
				<component class="org.codelibs.fess.auth.chain.LdapChain">
				</component>
			</arg>
		</postConstruct>
	</component>
	<component name="openSearchHelper" class="org.codelibs.fess.helper.OpenSearchHelper">
		<property name="osddPath">"/WEB-INF/orig/open-search/osdd.xml"</property>
		<property name="encoding">"UTF-8"</property>
	</component>
	<component name="suggestHelper" class="org.codelibs.fess.helper.SuggestHelper">
	</component>
	<component name="queryResponseList" class="org.codelibs.fess.util.QueryResponseList" instance="prototype">
	</component>
	<component name="gsaConfigParser" class="org.codelibs.fess.util.GsaConfigParser" instance="prototype">
	</component>

</components>
