<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE components PUBLIC "-//DBFLUTE//DTD LastaDi 1.0//EN"
	"http://dbflute.org/meta/lastadi10.dtd">
<components>
	<include path="convention.xml"/>
	<include path="lastaflute.xml"/>
	<include path="lasta_job.xml"/>

	<include path="fess.xml"/>
	<include path="fess_ldap.xml"/>
	<include path="fess_api.xml"/>
	<include path="fess_dict.xml"/>
	<include path="fess_job.xml"/>
	<include path="fess_screenshot.xml"/>

	<include path="crawler/client.xml" />
	<include path="crawler/mimetype.xml" />

	<component name="activityHelper" class="org.codelibs.fess.helper.ActivityHelper">
	</component>
	<component name="labelTypeHelper" class="org.codelibs.fess.helper.LabelTypeHelper">
	</component>
	<component name="keyMatchHelper" class="org.codelibs.fess.helper.KeyMatchHelper">
	</component>
	<component name="queryParser" class="org.apache.lucene.queryparser.ext.ExtendableQueryParser">
		<arg>org.codelibs.fess.Constants.DEFAULT_FIELD</arg>
		<arg>
			<component class="org.apache.lucene.analysis.core.WhitespaceAnalyzer"></component>
		</arg>
		<property name="lowercaseExpandedTerms">false</property>
		<property name="defaultOperator">org.apache.lucene.queryparser.classic.QueryParser$Operator.AND</property>
	</component>
	<component name="queryHelper" class="org.codelibs.fess.helper.QueryHelper">
		<property name="defaultFacetInfo">
			<component class="org.codelibs.fess.entity.FacetInfo">
				<property name="minCount">1</property>
				<property name="field">["label"]</property>
				<property name="query">[
					"timestamp:[now/d-1d TO *]",
					"timestamp:[now/d-7d TO *]",
					"timestamp:[now/d-1M TO *]",
					"timestamp:[now/d-1y TO *]",
					"content_length:[0 TO 9999]",
					"content_length:[10000 TO 99999]",
					"content_length:[100000 TO 499999]",
					"content_length:[500000 TO 999999]",
					"content_length:[1000000 TO *]",
					"filetype:html",
					"filetype:word",
					"filetype:excel",
					"filetype:powerpoint",
					"filetype:pdf",
					"filetype:others"
				]</property>
			</component>
		</property>
		<postConstruct name="addHighlightField">
			<arg>"title"</arg>
		</postConstruct>
		<postConstruct name="addHighlightField">
			<arg>"content"</arg>
		</postConstruct>
	</component>
	<component name="viewHelper" class="org.codelibs.fess.helper.ViewHelper">
		<postConstruct name="addFacetQueryView">
			<arg>
				<component class="org.codelibs.fess.entity.FacetQueryView">
					<property name="title">"labels.facet_timestamp_title"</property>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1day"</arg>
						<arg>"timestamp:[now/d-1d TO *]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1week"</arg>
						<arg>"timestamp:[now/d-7d TO *]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1month"</arg>
						<arg>"timestamp:[now/d-1M TO *]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_timestamp_1year"</arg>
						<arg>"timestamp:[now/d-1y TO *]"</arg>
					</postConstruct>
				</component>
			</arg>
		</postConstruct>
		<postConstruct name="addFacetQueryView">
			<arg>
				<component class="org.codelibs.fess.entity.FacetQueryView">
					<property name="title">"labels.facet_contentLength_title"</property>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_10k"</arg>
						<arg>"content_length:[0 TO 9999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_10kto100k"</arg>
						<arg>"content_length:[10000 TO 99999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_100kto500k"</arg>
						<arg>"content_length:[100000 TO 499999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_500kto1m"</arg>
						<arg>"content_length:[500000 TO 999999]"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_contentLength_1m"</arg>
						<arg>"content_length:[1000000 TO *]"</arg>
					</postConstruct>
				</component>
			</arg>
		</postConstruct>
		<postConstruct name="addFacetQueryView">
			<arg>
				<component class="org.codelibs.fess.entity.FacetQueryView">
					<property name="title">"labels.facet_filetype_title"</property>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_html"</arg>
						<arg>"filetype:html"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_word"</arg>
						<arg>"filetype:word"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_excel"</arg>
						<arg>"filetype:excel"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_powerpoint"</arg>
						<arg>"filetype:powerpoint"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_pdf"</arg>
						<arg>"filetype:pdf"</arg>
					</postConstruct>
					<postConstruct name="addQuery">
						<arg>"labels.facet_filetype_others"</arg>
						<arg>"filetype:others"</arg>
					</postConstruct>
				</component>
			</arg>
		</postConstruct>
	</component>
	<component name="userAgentHelper" class="org.codelibs.fess.helper.UserAgentHelper">
	</component>
	<component name="popularWordHelper" class="org.codelibs.fess.helper.PopularWordHelper">
	</component>
	<component name="userInfoHelper" class="org.codelibs.fess.helper.UserInfoHelper">
	</component>
	<component name="openSearchHelper" class="org.codelibs.fess.helper.OpenSearchHelper">
		<property name="osddPath">"/WEB-INF/orig/open-search/osdd.xml"</property>
		<property name="encoding">"UTF-8"</property>
	</component>
	<component name="queryResponseList" class="org.codelibs.fess.util.QueryResponseList" instance="prototype">
	</component>
	<component name="userAgentName" class="java.lang.String">
		<arg>"Mozilla/5.0 (compatible; Fess/" + org.codelibs.fess.Constants.FESS_VERSION + "; +http://fess.codelibs.org/bot.html)"</arg>
	</component>

</components>
