<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="domain.name" value="${fess.log.name:-fess}" />
	<property name="log.level" value="${fess.log.level:-debug}" />
	<property name="root.log.level" value="${fess.log.level:-info}" />
	<property name="log.pattern" value="%d [%t] %-5p %msg%n" />
	<!-- <property name="log.pattern" value="%d [%t] %-5p \\(%C{0}@%M\\(\\):%L\\) - %msg%n" /> -->
	<property name="log.file.basedir" value="${fess.log.path:-target/logs}" />
	<property name="backup.date.suffix" value="_%d{yyyyMMdd}" />
	<property name="backup.max.history" value="90" />
	<property name="audit.log.pattern" value="%msg%n" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>
	<appender name="appfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.file.basedir}/${domain.name}.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.file.basedir}/backup/${domain.name}${backup.date.suffix}.log
			</fileNamePattern>
			<maxHistory>${backup.max.history}</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="auditfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.file.basedir}/audit.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>${audit.log.pattern}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.file.basedir}/backup/audit${backup.date.suffix}.log
			</fileNamePattern>
			<maxHistory>${backup.max.history}</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="org.codelibs.fess" additivity="false" level="${log.level}">
		<if condition='isNull("lasta.env")'>
			<then>
				<appender-ref ref="console" />
			</then>
		</if>
		<appender-ref ref="appfile" />
	</logger>
	<logger name="org.dbflute" additivity="false" level="${log.level}">
		<if condition='isNull("lasta.env")'>
			<then>
				<appender-ref ref="console" />
			</then>
		</if>
		<appender-ref ref="appfile" />
	</logger>
	<logger name="org.lastaflute" additivity="false" level="${log.level}">
		<if condition='isNull("lasta.env")'>
			<then>
				<appender-ref ref="console" />
			</then>
		</if>
		<appender-ref ref="appfile" />
	</logger>
	<logger name="fess.log.audit" additivity="false" level="info">
		<if condition='isNull("lasta.env")'>
			<then>
				<appender-ref ref="console" />
			</then>
		</if>
		<appender-ref ref="auditfile" />
	</logger>
	<root level="${root.log.level}">
		<if condition='isNull("lasta.env")'>
			<then>
				<appender-ref ref="console" />
			</then>
		</if>
		<appender-ref ref="appfile" />
	</root>
</configuration>
