package ${request.package}.bsentity;
#if ($table.get("_id") && $table.get("_id").get("path"))
#set ($idColumn = $table.get("_id").get("path"))
#end

import java.time.LocalDateTime;
import java.util.HashMap;
import java.util.Map;

import ${request.package}.bsentity.dbmeta.${table.camelizedName}Dbm;
#if ($table.hasRefColumn)
import ${request.package}.exentity.*;
#end

/**
 * ${table.comment}
 * @author FreeGen
 */
public class Bs${table.camelizedName} extends AbstractEntity {

    private static final long serialVersionUID = 1L;

    @Override
    public ${table.camelizedName}Dbm asDBMeta() {
        return ${table.camelizedName}Dbm.getInstance();
    }

    @Override
    public String asTableDbName() {
        return "${table.name}";
    }

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
#foreach ($column in $table.columnList)
#if ($column.isNormalColumn)
#set ($javaNative = ${column.type})
#elseif ($column.isRefColumn)
#set ($javaNative = ${column.camelizedName})
#end
#if ($arrayColumnNames.contains($column.name))#set($arrayType = "[]")#else#set($arrayType = "")#end
#if ($column.name != $idColumn)
    /** ${column.name} */
    protected ${javaNative}${arrayType} ${column.uncapCamelName};

#end
#end
    // [Referrers] *comment only
#foreach ($referrer in $table.referrerList)
    // o ${referrer.name}
#end

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
#foreach ($column in $table.columnList)
#if ($column.isNormalColumn)
#set ($javaNative = ${column.type})
#elseif ($column.isRefColumn)
#set ($javaNative = ${column.camelizedName})
#end
#if ($arrayColumnNames.contains($column.name))#set($arrayType = "[]")#else#set($arrayType = "")#end
#if ($column.name != $idColumn)
#if ($javaNative == "boolean")
    public ${javaNative} is${column.capCamelName}() {
        checkSpecifiedProperty("${column.uncapCamelName}");
        return ${column.uncapCamelName};
    }
#else
    public ${javaNative}${arrayType} get${column.capCamelName}() {
        checkSpecifiedProperty("${column.uncapCamelName}");
        return ${column.uncapCamelName};
    }
#end

    public void set${column.capCamelName}(${javaNative}${arrayType} value) {
        registerModifiedProperty("${column.uncapCamelName}");
        this.${column.uncapCamelName} = value;
    }

#else
    public ${javaNative} get${column.capCamelName}() {
        checkSpecifiedProperty("${column.uncapCamelName}");
        return asDocMeta().id();
    }

    public void set${column.capCamelName}(${javaNative} value) {
        registerModifiedProperty("${column.uncapCamelName}");
        asDocMeta().id(value);
    }

#end
#end

    @Override
    public Map<String, Object> toSource() {
        Map<String, Object> sourceMap = new HashMap<>();
#foreach ($column in $table.columnList)
#if ($column.isNormalColumn)
#if ($column.name != $idColumn)
        if (${column.uncapCamelName} != null) {
            sourceMap.put("${column.name}", ${column.uncapCamelName});
        }
#else
        if (asDocMeta().id() != null) {
            sourceMap.put("${column.name}", asDocMeta().id());
        }
#end
#end
#end
        return sourceMap;
    }
}
