package ${request.package}.bsentity.dbmeta;

import java.util.List;
import java.util.Map;
import java.time.LocalDateTime;

import ${request.package}.exentity.${table.camelizedName};

import org.dbflute.Entity;
import org.dbflute.dbmeta.AbstractDBMeta;
import org.dbflute.dbmeta.info.ColumnInfo;
import org.dbflute.dbmeta.info.UniqueInfo;
import org.dbflute.dbmeta.name.TableSqlName;
import org.dbflute.dbmeta.property.PropertyGateway;
import org.dbflute.dbway.DBDef;
import org.dbflute.util.DfTypeUtil;


public class ${table.camelizedName}Dbm extends AbstractDBMeta {

    // ===================================================================================
    //                                                                           Singleton
    //                                                                           =========
    private static final ${table.camelizedName}Dbm _instance = new ${table.camelizedName}Dbm();

    private ${table.camelizedName}Dbm() {
    }

    public static ${table.camelizedName}Dbm getInstance() {
        return _instance;
    }

    // ===================================================================================
    //                                                                    Property Gateway
    //                                                                    ================
    // -----------------------------------------------------
    //                                       Column Property
    //                                       ---------------
    protected final Map<String, PropertyGateway> _epgMap = newHashMap();
    {
#foreach ($col in $table.columnList)
#if ($col.isNormalColumn)
#set ($javaNative = ${col.type})
#elseif ($col.isRefColumn)
#set ($javaNative = ${col.camelizedName})
#end
        setupEpg(_epgMap, et-> ((${table.camelizedName})et).get${col.camelizedName}(),(et,vl)->((${table.camelizedName}) et).set${col.camelizedName}(DfTypeUtil.to${javaNative}(vl)), "${col.uncapCamelName}");
#end
    }

    @Override
    public PropertyGateway findPropertyGateway(final String prop) {
        return doFindEpg(_epgMap, prop);
    }

    // ===================================================================================
    //                                                                         Column Info
    //                                                                         ===========
#foreach ($col in $table.columnList)
#if ($col.isNormalColumn)
#set ($javaNative = ${col.type})
#elseif ($col.isRefColumn)
#set ($javaNative = ${col.camelizedName})
#end
    protected final ColumnInfo _column${col.camelizedName} = cci("${col.name}", "${col.name}", null, null, ${javaNative}.class, "${col.uncapCamelName}", null, false, false, false, "${col.type}", 0, 0, null, false, null, null, null, null, null, false);
#end

#foreach ($col in $table.columnList)
    public ColumnInfo column${col.camelizedName}() { return _column${col.camelizedName}; }
#end

    protected List<ColumnInfo> ccil() {
        List<ColumnInfo> ls = newArrayList();
#foreach ($col in $table.columnList)
        ls.add(column${col.camelizedName}());
#end
        return ls;
    }

    // ===================================================================================
    //                                                                          Table Info
    //                                                                          ==========
    protected final String _tableDbName = "${table.name}";
    protected final String _tableDispName = "${table.name}";
    protected final String _tablePropertyName = "${table.camelizedName}";
    public String getTableDbName() { return _tableDbName; }
    @Override
    public String getTableDispName() { return _tableDispName; }
    @Override
    public String getTablePropertyName() { return _tablePropertyName; }
    @Override
    public TableSqlName getTableSqlName() { return null; }

    @Override
    public String getProjectName() {
        // TODO Auto-generated method stub
        return null;
    }

    @Override
    public String getProjectPrefix() {
        // TODO Auto-generated method stub
        return null;
    }

    @Override
    public String getGenerationGapBasePrefix() {
        // TODO Auto-generated method stub
        return null;
    }

    @Override
    public DBDef getCurrentDBDef() {
        // TODO Auto-generated method stub
        return null;
    }

    @Override
    public boolean hasPrimaryKey() {
        // TODO Auto-generated method stub
        return false;
    }

    @Override
    public boolean hasCompoundPrimaryKey() {
        // TODO Auto-generated method stub
        return false;
    }

    @Override
    public String getEntityTypeName() {
        return "${request.package}.exentity.${table.camelizedName}";
    }

    @Override
    public String getConditionBeanTypeName() {
        return "${request.package}.cbean.${table.camelizedName}CB";
    }

    @Override
    public String getBehaviorTypeName() {
        return "${request.package}.exbhv.${table.camelizedName}Bhv";
    }

    @Override
    public Class<? extends Entity> getEntityType() {
        return ${table.camelizedName}.class;
    }

    @Override
    public Entity newEntity() {
        return new ${table.camelizedName}();
    }

    @Override
    public void acceptPrimaryKeyMap(Entity entity, Map<String, ? extends Object> primaryKeyMap) {
        // TODO Auto-generated method stub

    }

    @Override
    public void acceptAllColumnMap(Entity entity, Map<String, ? extends Object> allColumnMap) {
        // TODO Auto-generated method stub

    }

    @Override
    public Map<String, Object> extractPrimaryKeyMap(Entity entity) {
        // TODO Auto-generated method stub
        return null;
    }

    @Override
    public Map<String, Object> extractAllColumnMap(Entity entity) {
        // TODO Auto-generated method stub
        return null;
    }

    @Override
    protected UniqueInfo cpui() {
        // TODO Auto-generated method stub
        return null;
    }

}

