package ${request.package}.exentity;

import ${request.package}.bsentity.Bs${table.camelizedName};

/**
 * @author FreeGen
 */
public class ${table.camelizedName} extends Bs${table.camelizedName} {

    private static final long serialVersionUID = 1L;
}
