.top5 {
	margin-top: 0.5em;
}

.top10 {
	margin-top: 1.0em;
}

.top15 {
	margin-top: 1.5em;
}

.top20 {
	margin-top: 2.0em;
}

.top25 {
	margin-top: 2.5em;
}

.top30 {
	margin-top: 3.0em;
}

.container .text-muted {
	margin: 20px 0;
}

.notification {
	text-align: center;
}

ul.has-error {
	color: #dd4b39 !important;
	list-style-type: none;
	padding: 0;
}

.form-group .has-error + .form-control {
	border-color: #dd4b39 !important;
	box-shadow: none;
}

.sidebar-mini.sidebar-collapse .sidebar-search {
	display: none !important;
}

input[type="file"].form-control:not([type="file"]) {
	height: 0% !important;
}

#result ol {
	list-style: none !important;
	padding-left: 0;
}

#result ol li {
	margin-bottom: 0;
}

#result .title {
	margin: 1.0em 0 0.5em 0;
	font-size: 120%;
	font-weight: 600;
}

section.content table {
	display: table;
	table-layout: fixed;
	width
}

section.content table td {
	display: table-cell;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

section.content table .label {
	color: #fff;
}

textarea.systemInfoData {
	height: 22em;
	line-height: 1.5em;
}

.login-box {
	height: 500px;
}
