<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="{{url_link}}">
<div style="border:1px solid #999;margin:5px -1px;padding:0;">
<div style="color:#000;background:#ddd;border:1px solid #666;margin:10px 15px;padding:5px;text-align:left;">{{cache_msg}}</div>
</div>
{{{hl_cache}}}
