<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="{{url}}">
<div style="border:1px solid #999;margin:5px -1px;padding:0;">
<div style="margin:5px 15px;padding:5px;text-align:left;">This content is cached in Fess.</div>
</div>
{{{cache}}}
