# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches:
    - master
    - "*.x"
  pull_request:
    branches:
    - master
    - "*.x"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Checkout fess-parent
      uses: actions/checkout@v2
      with:
        repository: codelibs/fess-parent
        path: fess-parent
    - name: Install fess-parent
      run: |
        cd fess-parent
        mvn install
    - name: Download Plugins with Maven
      run: mvn -B antrun:run --file pom.xml
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Run Fess
      run: bash src/test/resources/before_script.sh
    - name: Run Integration Test
      run: bash src/test/resources/run.sh

